:root{
    --line-aa:1px solid #aaa;
    --line-dd:1px solid #ddd;  
    --line-ee:1px solid #eee;  
    --line-e6:1px solid #e6e6e6;
    --line-f5:1px solid #f5f5f5;
}

/* header */
header,
.header-pop{
    width:100%;
    height:56px;
    position:fixed;
    top:0;
    left:0;
    background-color:#fff;
    z-index:100;
}
header.bg-header{
    background-color:#f7f7f7;
    border-bottom:var(--line-e6);
}
header.bg-header .header-inner{
    background-color:#f7f7f7;
}
.header-pop.h-column{
    height:90px
}
.header-pop.h-column + .contents{
    padding-top: 90px;
}
.header-pop.h-column .title-content{
    margin-left:40px;
}
header .header-title{
    font-size:12px;
    color:#c4c4c4;
    line-height:50px;
    font-weight:400;
}
.header-title-center .btn-tooltip{
    margin-top:-2px;
}
.header-pop .header-title-center,
header .header-title-center{
    font-size:16px;
    line-height:56px;
    font-weight:400;
    flex:1;
    text-align:center;
}
.header-pop .header-title-left,
header .header-title-left{
    font-size:16px;
    line-height:50px;
    font-weight:400;
    flex:1;
    text-align:left;
    margin-left:40px;
}
.header-pop.h-column .header-title-left{
    font-size:16px;
    font-weight:700;
    line-height:initial;
    margin:0
}
.header-pop.h-column .title-sub{
    margin:2px 0 0 0;
    color:#888;
    font-size:11px;
}
header .blur{
    opacity:0;
}
header .chart-info{
    text-align:center;
    flex:1;
}
header .btn-close{
    font-size:15px;
    color:#222;
    margin-left:auto;
    padding:10px;
    position:absolute;
    right:10px
}
.header-pop .btn-close-pop{
    position:absolute;
    width:40px;
    height:40px;
    left:6px;
    background:url(/inc/img/ico-close.svg) no-repeat center;
    background-size:14px 14px;
    display:block;
    margin:auto; 
}
header .btn-prev{
    position:absolute;
    width:40px;
    height:40px;
    left:6px;
    background:url(/inc/img/arrow-back.svg) no-repeat center;
    background-size:10px 18px;
    display:block;
    margin:auto;
    z-index:1; 
}
header .btn-share{
    margin-left:auto;
    font-size:13px;
    font-weight:700;
    border-radius:30px;
    height:32px;
    line-height:32px;
    background:#f7f7f7 url(/inc/img/ico-kakao.svg) no-repeat center left 10px;
    background-size:15px 14px;
    padding:0 10px 0 27px
}
.header-inner{
    padding:0 20px;
    display:-webkit-flex;
    display:flex;    
    align-items:center;
    position:relative;
    height:100%;
    background:#fff;
}
.contents{
    display:-webkit-flex;
    display:flex;    
    flex-direction:column;
    justify-content:space-between;
    height:100%;
}
.contents > *{
    -webkit-flex:1;
    flex:1
}
.full-pop .contents{
    overflow-y:auto;
    height:100%;
}
.header-pop + .contents,
header + .contents{
    padding-top:56px;
}
/* color */ 
.color-primary{
    color:#0199e8;
}
.color-secondary{
    color:#33FFCE;
}
.color-red,
.color-buy,
.color-plus,
.stock-increase{
    color:#f24538 !important;
}
.color-buy-part{
    color:#f03c88 !important;
}
.color-blue,
.color-sell,
.color-minus,
.stock-decrease{
    color:#0083D1 !important;
}
.color-darkgray{
    color:#666 !important;
}
.bg-primary{
    background-color:#222;
}
.bg-secondary{
    background-color:#33FFCE;
}
.bg-red,
.bg-buy{
    background-color:#f24538;
}
.bg-blue,
.bg-sell{
    background-color:#0083D1;
}
.bg-gray{
    background-color:#f7f7f7;
}
.bg-gray2{
    background-color:#f7f7f7 !important;
}
.bg-black{
    background-color:#222;
}
/* text */
.title-wrap{
    display:-webkit-flex;
    display:flex;    
    align-items:center;
    margin-bottom:24px;
}
.title-wrap h2{
    font-size:20px;
    color:#222;
    font-weight:700;
    line-height:32px;
}
.title-wrap h3{
    font-size:20;
}
.filter{
    color:#888;
    font-size:12px;
}
.filter::after{
    content:'';
    width:12px;
    height:9px;
    background:#888;
    -webkit-mask:url(/inc/img/ico-arrow-minus.svg) no-repeat center;
    -webkit-mask-size:12px 9px;
    display:inline-block;
    margin-left:4px;
}

.text-sm{
    font-size:12px;
    color:#888;
}
.text-sm{
    font-size:12px;
    color:#888;
}
.ellipsis{
    white-space:nowrap;
    text-overflow:ellipsis;
    overflow:hidden;
}
.ellipsis2{
    display:-webkit-box;
    text-overflow:ellipsis;
    overflow:hidden;
    -webkit-line-clamp:2;
    -webkit-box-orient:vertical;
}

/* button */
.wrap-btn{
    display:-webkit-flex;
    display:flex;    
    align-items:center;
    justify-content:center;
}
.wrap-btn-sticky{
    -webkit-position:sticky;
    position:sticky;
    bottom:0;
    left:0;
    padding:0 16px 30px;
    display:-webkit-flex;
    display:flex;    
    z-index:10;
    width:100%;
    background-color:#fff;
    flex-shrink:0;
}
.wrap-btn-fixed{
    /* position:fixed; */
    /* bottom:0; */
    padding:0 16px 30px;
    display:-webkit-flex;
    display:flex;    
    z-index:10;
    width:100%;
    /* height:60px; */
    background-color:#fff;
    margin-top:auto;
}
/* 개발화면만 적용 */
[id^="layer-pop-terms"] .tab-content{
    flex:1;
    height:initial;
}
.bg-gray [id^="layer-pop-terms"] .wrap-btn-fixed{
    background-color:#fff;
}
.wrap-btn-fixed.sticky{
    position:relative;
}
.bg-gray .wrap-btn-fixed{
    background-color:#f7f7f7;
}
.btn-bottom{
    display:-webkit-flex;
    display:flex;    
    align-items:center;
    width:100%;
    height:62px;    
}
[class^="btn-flat"]{
    width:40%;
    height:100%;
    background-color:#444;
    color:#fff;
    font-size:16px;
}
.btn-flat-primary{
    width:60%;
    background-color:#000;
}
[class^="wrap-btn"] [class^="btn-"]{
    width:100%;
    border-radius:10px;
    text-align:center;
}
.btn-lg{
    height:60px;
    line-height:60px;
    font-size:17px;
}
.btn-md{
    height:48px;
    line-height:48px;
}
.btn-xmd{
    height:56px;
    line-height:56px;
}
.btn-sm{
    height:32px;
    line-height:32px;
    padding:0 14px;
}
button .add::before{
    content:'+';
}
[class^="wrap-btn"] .btn-confirm{
    width:134px;
}
[class^="wrap-btn"] .btn-confirm + [class^="btn"]{
    flex:1
}
[class^="wrap-btn"] .btn-line{
    border:var(--line-aa);
    color:#333;
    font-size:15px;
}
[class^="wrap-btn"].select .btn-line.on{
    background-color:#000;
    color:#fff;
}
[class^="wrap-btn"] .btn-line:disabled{
    background-color:#fff !important;
}
[class^="wrap-btn"] .btn-line .add::before{
    content:'+';
}
[class^="wrap-btn"] .btn-block{
    background-color:#f7f7f7;
}
[class^="wrap-btn"] .btn-underline{
    border-bottom:1px solid #666;
    color:#666;
    font-size:13px;
    border-radius:0;
    display:inline-block;
    width:auto;
    margin:16px 0
}
[class^="wrap-btn"] .btn-xs{
    height:22px;
    line-height:22px;
    padding:0 12px;
    font-size:12px;
    border-radius:4px;
    font-weight:400;
    color:#222;
}
[class^="wrap-btn"] [class^="btn-"] + [class^="btn-"]{
    margin-left:8px;
}
[class^="wrap-btn"] [hidden] + [class^="btn-"]{
    margin-left:0;
}
[class^="wrap-btn"] .btn-xs + .btn-xs{
    margin-left:3px;
}
[class^="wrap-btn"] [class^="btn-"][class*="bg-"]{
    color:#fff;
}
[class^="wrap-btn"] .btn-select{
    height:38px;
    line-height:38px;
    border:var(--line-aa);
    border-radius:4px;
    font-size:15px;
}
[class^="wrap-btn"] .btn-select.on{
    background-color:#222;
    color:#fff;
    border-color:#222;
}
[class^="wrap-btn"] .bg-gray{
    color:#222 !important;
    font-size:15px;
}
[class^="wrap-btn"] .btn-col{
    border:var(--line-aa);
    background-color:#fff;
    color:#333;
    font-size:15px;
    height:40px;
    line-height:40px;
}
[class^="wrap-btn"] .btn-col + .btn-col{
    margin-left:4px;
}
[class^="wrap-btn"] .btn-col.on{
    background-color:#000;
    color:#fff;
    border:none
}
.wrap-btn-round{
    display:-webkit-flex;
    display:flex;    
}
.wrap-btn-round button + button{
    margin-left:4px;
}
.btn-clear{
    width:14px;    
    height:14px;
    padding:16px;
    border-radius:50%;
    position:absolute;
    right:7px;
    top:50%;
    transform:translateY(-50%);
    background:url(/inc/img/ico-del.svg) no-repeat center center;
}
.pop-content + .wrap-btn{
    margin-top:50px;
}
.modal-content .pop-content + .wrap-btn{
    margin-top:32px;
}
div + .wrap-btn{
    margin-top:24px;
}
[class^="wrap-btn"] .btn-round{
    width:auto;
    font-weight:700;
    font-size:13px;
    padding:0 14px;
    border-radius:30px;
    background-color:#f8f8f8;
}
[class^="wrap-btn"] .btn-round.on{
    color:#fff;
    background-color:#222;
}
[class^="wrap-btn"] .btn-round-line{
    width:auto;
    font-weight:700;
    font-size:13px;
    padding:0 14px;
    border-radius:30px;
    background-color:#fff;
    border:var(--line-dd);
}
.btn-tooltip{
    background:url(/inc/img/ico-qmark.svg) no-repeat 0 0;
    display:inline-block;
    width:16px;
    height:16px;
    margin-left:4px;
    vertical-align:middle;
}
.block-tag{
    display:-webkit-flex;
    display:flex;    
    flex-direction:column;
    align-items:center;
    justify-content:center;
}
.block-tag > .label-text{
    line-height:initial;
    font-weight:400;
}
.block-tag > em{
    line-height:22px;
    font-weight:400;
}

.flex-box{
    display:-webkit-flex;
    display:flex;    
    flex-wrap:wrap;    
    align-items:center;
}
.flex-box .form-group{
    width:50%;
}

/* tab */
.tabs{
    position:fixed;
    top:56px;
    width:100%;
    height:40px;
    background-color:#fff;
    z-index:10;
}
.tabs ul{
    height:100%;
    display:-webkit-flex;
    display:flex;    
    border-bottom:var(--line-ee);
    padding:0 16px
}
.tabs ul li{
    width:50%;
}
.tabs ul li.on{
    position:relative;
}
.tabs ul li.on::after{
    content:'';
    width:100%;
    height:2px;
    background-color:#222;
    position:absolute;
    bottom:-1px
}
.tabs ul li button{
    font-size:15px;
    text-align:center;
    line-height:40px;
    display:block;
    margin:auto;
    color:#888;
}
.tabs ul li.on button{
    font-weight:700;
    color:#222;
}
.tab-content{
    padding-top:40px;
    display:-webkit-flex;
    display:flex;    
    flex-direction:column;
    justify-content:space-between;
    height:100%;
}
/* loading */
.loading-container{
    
}
.loading-spinner{
    background:rgba(0,0,0,0.1);
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:110;
    display:-webkit-flex;
    display:flex;    
    flex-direction:column;
    align-items:center;
    justify-content:center;
}
.loading-spinner svg{
    width:24px;
    height:24px;
    fill:none;
    stroke:#fff;
    stroke-width:12;
    stroke-linecap:round;
    animation:spinner 1s linear infinite;
}
@keyframes spinner {
    to {
        transform:rotate(360deg);
    }
}
.spinner{
    width:100%;
    color:#fff;
    display:block;
}
.spinner::after{
    content:'';
    background: url(/inc/img/spinner.svg) no-repeat center;
    animation:spinner 1s linear infinite;
    width:24px;
    height:24px;
    border-radius:50%;
    position:absolute;
    top:calc(50% - 12px);
    left:calc(50% - 12px);
}
.loading-list li + li{
    margin-top:24px
}
.loading-list li{
    display:-webkit-flex;
    display:flex;    
    align-items:center;
    width:100%;
}
.list-right{
    margin-left:8px;
    width:100%;
    flex:1;
}
[class^="skeleton-"]{
    background-color:#f7f7f7;
}
.skeleton-total{
    width:20%;
    height:19px;
    margin-top:10px;
}
.skeleton-price{
    width:50%;
    height:26px;
    margin-top:10px;
}
.skeleton-stock{
    width:45%;
    height:19px;
    margin-top:10px;
}
.skeleton-btn{
    width:50%;
    height:54px;
    border-radius:10px;
    margin-top:10px;
}
.skeleton-number{
    width:68px;
    height:20px;
    margin-left:8px;
}
.skeleton-stockname{
    width:80px;
    height:28px;
    margin:20px 0 0 8px;
}
.skeleton-stockprice{
    width:150px;
    height:32px;
    margin:4px 0 0 8px;
}
.skeleton-change{
    width:170px;
    height:15px;
    margin:9px 0 0 8px;
}
.skeleton-graph{
    width:100%;
    height:246px;
    margin-top:26px;
}
.skeleton-graphbar{
    width:100%;
    height:44px;
    margin-top:8px;
}
.skeleton-btn + .skeleton-btn{
    margin:0 0 0 8px
}

.skeleton-img{
    width:56px;
    height:56px;
    border-radius:50%;
}
.skeleton-list-top{
    width:65%;
    height:20px;
}
.skeleton-list-bottom{
    width:55%;
    height:14px;   
    margin-top:10px;
}
.loader{
    background:#f1f1f1;
    background-image:linear-gradient(90deg, #f1f1f1 0%, #e9e9e9 20%, #e9e9e9 40%, #f1f1f1 100%);
    background-size:800px 100%;
    background-repeat:no-repeat;
    animation:skeletonmove 1s infinite linear forwards;
    position:relative;
}
@keyframes skeletonmove{
    0% {
        background-position:-468px 0;
    }
    100% {
        background-position:468px 0;
    }
}


/* list */
.list-dot li{
    position:relative;
    color:#aaa;
    padding-left:7px;
    font-size:13px;
}
.list-dot li::before{
    content:'';
    width:2px;
    height:2px;
    border-radius:50%;
    display:inline-block;
    background-color:#888;
    position:absolute;
    left:0;
    top:7px;
}
.list-dot li + li{
    margin-top:4px
}
.list-bar li{
    position:relative;
    color:#666;
    padding-left:7px;
    font-size:15px;
    line-height:26px;
}
.list-bar li::before{
    content:'';
    width:4px;
    height:1px;
    border-radius:50%;
    display:inline-block;
    background-color:#666;
    position:absolute;
    left:0;
    top:12px;
}
.list-bar li + li{
    margin-top:8px
}
.list-bar + .list-asterisk{
    margin-top:8px;
}
.list-asterisk{
    font-size:12px;
    color:#888;
    position:relative;
    padding-left:7px;
}
.list-asterisk::before{
    content:'*';
    display:inline-block;
    position:absolute;
    left:0;
    top:2px
}

/* form */
.form-group{
    position:relative;
}
.form-group [type="checkbox"]{
    position:absolute;
    opacity:0;
    width:24px;
    height:24px;
}
.form-group [type="checkbox"] + label{
    position:relative;
    cursor:pointer;
    padding:0 0 0 30px;
    display:inline-block;
    font-size:16px;
    color:#888
}
.form-group [type="checkbox"] + label::before{
    content:'';
    width:24px;
    height:24px;
    display:inline-block;
    border-radius:50%;
    background-color:#fff;
    position:absolute;
    left:0;
    top:0;
    -webkit-mask:url(/inc/img/ico-check.svg) no-repeat center;
    -webkit-mask-size:15px auto;
    background-color:#ddd;
    border:none;
}
.form-group [type="checkbox"]:checked + label::before{
    background-color:#222;
    color:#222;
}
.form-group .inp-sub[type="checkbox"] + label{
    color:#888;
    font-size:15px;
}
.form-group .chk-sm{
    font-size:13px;
    color:#333;
    margin-right:6px;
}
.form-group .chk-sm::before{
    content: '[';
}
.form-group .chk-sm::after{
    content: ']';
}
.form-group [type="checkbox"]:checked + label .chk-sm{
    color:#222;
}

.form-group.type-r{
    display:-webkit-flex;
    display:flex;    
    justify-content:space-between;
}

.form-group [type="radio"]{
    position:absolute;
    opacity:0;
    width:28px;
    height:28px;
}
.form-group [type="radio"] + label{
    position:relative;
    cursor:pointer;
    padding:0 0 0 38px;
    display:inline-block;
    font-size:15px;
}
.form-group [type="radio"] + label::before{
    content:'';
    width:28px;
    height:28px;
    display:inline-block;
    border:var(--line-e6);
    border-radius:50%;
    background-color:#fff;
    position:absolute;
    left:0;
    top:-5px;
}
.form-group [type="radio"] + label::after{
    content:'';
    background-color:#ddd;
    -webkit-mask:url(/inc/img/ico-check.svg) no-repeat center;
    -webkit-mask-size:15px auto;
    position:absolute;
    left:0;
    top:-5px;
    width:28px;
    height:28px;
}
.form-group [type="radio"]:checked + label::before{
    background-color:#000;
    border-color:#000;
}
.form-group [type="radio"]:checked + label::after{
    background-color:#fff;
}
/* 팝업 */
.full-pop{
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:100vh;
    overflow-y:scroll;
    -webkit-overflow-scrolling: touch;
    z-index:100;
    visibility:hidden;
    background-color:#fff;
}
.layer-blank,
.layer-pop{
    position:fixed;
    left:0;
    top:0;
    right:0;
    bottom:0;
    width:100%;
    height:100vh;
    overflow:hidden;
    z-index:100;
    visibility:hidden;
    display:-webkit-flex;
    display:flex;    
    flex-direction:column;
    justify-content:flex-end;
    align-items:center;
    transition:opacity 0.3s, visibility 0.3s;
    
}
.layer-pop.tooltip-pop{
    position:initial;
}
.dim{
    background-color:#000;
    width:100%;
    height:100vh;
    position:fixed;
    left:0;
    top:0;
    opacity:0.6;
}
body.hidden{
    overflow:hidden;
}
.full-pop.full-popup-open,
.layer-pop.popup-open{
    visibility:visible;
}
.slide-content{
    width:100%;
    max-height:calc(100% - 88px);
    overflow-y:hidden;
    position:relative;    
    background-color:#fff;
    border-radius:30px 30px 0 0;
    padding:40px 16px 30px;
    bottom:-100%;
    transition:bottom 0.3s;
    z-index:10;
    display: flex;
    flex-direction: column;    
}

.popup-open .slide-content{
    bottom:0;    
}
.blank-content,
.pop-content{
    /* margin-bottom:50px; */
    overflow-y: scroll;
}
.layer-blank-content,
.modal-content{
    width:calc(100% - 70px);
    min-height:170px;
    margin:auto 35px;    
    background-color:#fff;
    border-radius:16px;
    padding:40px 16px 16px;
    display:-webkit-flex;
    display:flex;    
    flex-direction:column;
    justify-content:space-between;
    z-index:10;
}
#toast-popup{
    position:fixed;
    bottom:90px;
    z-index:100;
    width:100%;
}
#toast-popup [class~="toast"]{
    margin:16px;
    display:-webkit-flex;
    display:flex;    
    background:rgba(0, 0, 0, 0.7);
    border-radius:8px;
    padding:20px 24px;
    position:relative;
    justify-content:space-between;
    align-items:center;
}
#toast-popup .toast-info{
    text-align:center;
    padding:20px 24px;
    justify-content:center;
}
.toast-close{
    text-align:left;
}
#toast-popup .toast-top{
    position:fixed;
    bottom:145px;
    width:calc(100% - 32px);
}
#toast-popup .toast-top .toast-body{
    width:100%;
    text-align:center;
}

#toast-popup.complete{
    bottom:calc(50% - 60px);
    left:calc(50% - 50px);
    width:auto;
}
#toast-popup.complete.show{
    width:100%;
    height:100%;
    left:0;
    bottom:0;
    display:-webkit-flex;
    display:flex;    
    align-items:center;
    justify-content:center;
}
#toast-popup .toast-center{
    width:104px;
    height:104px;
    border-radius:50%;
    justify-content:center;
    margin:0;
    padding:0;
}
#toast-popup.complete .toast-msg::before{
    content:'';
    width:40px;
    height:40px;
    display:block;
    border-radius:50%;
    background-color:#fff;
    -webkit-mask:url(/inc/img/ico-check.svg) no-repeat center;
    -webkit-mask-size:25px auto;
    background-color:#fff;
    border:none;
    margin-top:-16px;
}
.toast-body .toast-title{
    font-size:15px;
    color:#fff;
    display:-webkit-flex;
    display:flex;    
    font-weight:400;
}
.toast-body .toast-title>strong{
    margin-right:4px;
}
.toast-body .toast-msg{
    font-size:15px;
    color:#fff;
}
#toast-popup .normal{
    margin-left:4px;
}
#toast-popup .close-btn{
    display:-webkit-flex;
    display:flex;    
}
#toast-popup .close-btn .btn-close-pop{
    width:20px;
    height:20px;
    background:#fff;
    -webkit-mask:url(/inc/img/ico-close.svg) no-repeat center;
    -webkit-mask-size:10px 10px;
    display:block;
    margin:auto;    
}
#toast-popup .close-btn .btn-move-pop{
    width:20px;
    height:20px;
    background:#fff;
    -webkit-mask:url(/inc/img/arrow-right.svg) no-repeat center;
    -webkit-mask-size:10px 10px;
    display:block;
    margin:auto;    
}
#toast-popup .close-btn .btn-close-txt,
#toast-popup .link-btn .btn-text-link{
    color:#fff; 
}
.btn-close-txt{
    font-size:13px;
    font-weight:700;
    border-radius:4px;
    background-color:#000;
    height:24px;
    line-height:24px;
    padding:0 8px;
}
.btn-arrow-line{
    color:#666;
    text-decoration:underline;
}
@keyframes slideInBottom{
    from{
        opacity:0;
        transform:translateY(calc(100% + 30px));
    }
    to {
        opacity:1;
        transform:translateY(0);
    }
}
@keyframes fadeOut{
    to {
        opacity:0;
    }
}
.pop-info-tit{
    text-align:center;
    font-size:18px;
    font-weight:700;
    margin-bottom:8px;
}
.pop-info-tit.chk{
    margin-bottom:16px
}
.pop-info-txt{
    text-align:center;
    font-size:17px;    
}
.pop-info-tit .form-group [type="checkbox"] + label{
    font-size:18px;
    color:#222;
    font-weight:700;
}
.slide-content .pop-info-tit{
    text-align:left;
    margin-left:8px;
    margin-bottom:24px;
}
.slide-content .trade-list .pop-info-tit{
    margin-left:0
}
.pop-info-txt .stock-name{
    font-size:inherit;
}
.pop-text-cont{
    font-size:15px;
    color:#666;
    position:relative;
    line-height:26px;
}
.pop-text-cont .img-logo{
    display:inline-block;
    vertical-align:middle;
    margin-right:4px;
}
.pop-text-cont + .pop-text-cont{
    margin-top:16px;
}
.slide-content .pop-info-txt{
    font-weight:700;
    font-size:20px;
}
.slide-content .stock-name{
    font-size:20px;
    margin-top:8px;
}
.pop-content .trade-info-txt{
    margin:40px 18px 0;
}
.pop-content .trade-info-txt dl{
    display:-webkit-flex;
    display:flex;    
    align-items:center;
    justify-content:space-between;
}
.pop-content .trade-info-txt dl + dl{
    margin-top:8px;
}
.pop-content .trade-info-txt .line-top{
    border-top:var(--line-f5);
    margin-top:16px;
    padding-top:16px;
}
.pop-content .trade-info-txt dt{
    color:#888;
    font-size:15px;
}
.pop-content .trade-info-txt dd{
    font-size:15px;
}
.attention{
    font-size:13px;
    color:#aaa;
}


/* message */
.no-result{
    text-align:center;
    height:100%;
    display:-webkit-flex;
    display:flex;    
    flex-direction:column;
    align-items:center;
    justify-content:center;
    padding:50px 0;
    background-color:transparent;
    flex:1;
}
.no-result::before{
    content:'';
    width:32px;
    height:32px;
    border-radius:50%;
    background:#f7f7f7 url(/inc/img/ico-mark.svg) no-repeat center;
    background-size:3px 13px;
    display:block;
     
    z-index:10;
}
.no-result p{
    margin-top:8px;
    font-size:13px;
    color:#666;
}
.section-inner .no-result{
    height:initial;
    padding:50px 0;
}