:root{
    --line-aa:1px solid #aaa;
    --line-dd:1px solid #ddd;  
    --line-ee:1px solid #eee;  
    --line-e6:1px solid #e6e6e6;
}
/* header */
header,
.header-pop{
    width:100%;
    height:50px;
    position:sticky;
    top:0;
    background-color:#fff;
    z-index:100;
}
header .header-title{
    font-size:12px;
    color:#c4c4c4;
    line-height:50px;
    font-weight:400;
}
.header-pop .header-title-center,
header .header-title-center{
    font-size:16px;
    line-height:50px;
    font-weight:400;
    flex:1;
    text-align:center;
    margin-left: 26px;
}
.header-pop .header-title-left,
header .header-title-left{
    font-size:16px;
    line-height:50px;
    font-weight:400;
    flex:1;
    text-align:left;
    margin-left:40px;
}
header .btn-close{
    font-size:15px;
    color:#222;
    margin-left:auto;
    padding:10px;
    margin-right:-10px;
}
.header-pop .btn-close-pop{
    position:absolute;
    width:40px;
    height:40px;
    left:6px;
    background: url(/inc/img/ico-close.svg) no-repeat center;
    background-size:14px 14px;
    display:block;
    margin:auto; 
}
header .btn-prev{
    position:absolute;
    width:40px;
    height:40px;
    left:6px;
    background: url(/inc/img/arrow-back.svg) no-repeat center;
    background-size:10px 18px;
    display:block;
    margin:auto; 
}
header .btn-share{
    margin-left: auto;
    font-size: 13px;
    font-weight: 700;
    border-radius: 30px;
    height: 32px;
    line-height: 32px;
    background:#f7f7f7 url(/inc/img/ico-star.svg) no-repeat center left 10px;
    background-size:15px 14px;
    padding:0 10px 0 27px
}
.header-inner{
    padding:0 20px;
    display:flex;
    align-items:center;
    position:relative;
    height:100%;
    background:#fff;
}
.full-pop .contents{
    max-height:calc(100vh - 50px);
    overflow-y:auto;
}

/* color */ 
.color-primary{
    color:#0199e8;
}
.color-secondary{
    color:#33FFCE;
}
.color-red,
.color-buy,
.color-plus,
.stock-increase{
    color:#f24538 !important;
}
.color-blue,
.color-sell,
.color-minus,
.stock-decrease{
    color:#0083D1 !important;
}
.color-darkgray{
    color:#666 !important;
}
.bg-primary{
    background-color:#222;
}
.bg-secondary{
    background-color:#33FFCE;
}
.bg-red,
.bg-buy{
    background-color:#f24538;
}
.bg-blue,
.bg-sell{
    background-color:#0083D1;
}
.bg-gray{
    background-color:#f1f1f1;
}
.bg-gray2{
    background-color:#f7f7f7 !important;
}
.bg-black{
    background-color:#222;
}
/* text */
.title-wrap{
    display:flex;
    align-items:center;
    margin-bottom:24px;
}
.title-wrap h2{
    font-size:20px;
    color:#222;
    font-weight:700;
    line-height:32px;
}
.title-wrap h3{
    font-size:20;
}
.title-wrap .filter{
    color:#888;
}
.title-wrap .filter::after{
    content:'';
    width:12px;
    height:9px;
    background:#888;
    -webkit-mask:url(/inc/img/ico-arrow-minus.svg) no-repeat center;
    -webkit-mask-size:12px 9px;
    display:inline-block;
    margin-left:4px;
}

.text-sm{
    font-size:12px;
    color:#888;
}
.text-sm{
    font-size:12px;
    color:#888;
}
.ellipsis{
    white-space:nowrap;
    text-overflow:ellipsis;
    overflow:hidden;
}
.ellipsis2{
    display:-webkit-box;
    text-overflow:ellipsis;
    overflow:hidden;
    -webkit-line-clamp:2;
    -webkit-box-orient:vertical;
}

/* button */
.wrap-btn{
    display:flex;
    align-items:center;
    justify-content: center;
}
.wrap-btn-sticky{
    position:sticky;
    bottom:0;
    padding:0 16px 24px;
    display:flex;
    z-index:10;
    width:100%;
    background-color:#fff;
}
.wrap-btn-fixed{
    position:fixed;
    bottom:0;
    padding:0 16px 30px;
    display:flex;
    z-index:10;
    width:100%;
}
.bg-gray .wrap-btn-fixed{
    background-color: #f1f1f1;
}
[class^="wrap-btn"] [class^="btn-"]{
    width:100%;
    border-radius:10px;
    text-align:center;
}
.btn-lg{
    height:60px;
    line-height:60px;
    font-size:17px;
}
.btn-md{
    height:48px;
    line-height:48px;
}
.btn-sm{
    height:32px;
    line-height:32px;
    padding:0 14px;
}
[class^="wrap-btn"] .btn-half{
    width:50%;
}
[class^="wrap-btn"] .btn-confirm{
    width:134px;
}
[class^="wrap-btn"] .btn-confirm + [class^="btn"]{
    flex:1
}
[class^="wrap-btn"] .btn-line{
    border:var(--line-aa);
    background-color:#fff;
    color:#333;
    font-size:15px;
}
[class^="wrap-btn"] .btn-line .add::before{
    content: '+';
}
[class^="wrap-btn"] .btn-underline{
    border-bottom:1px solid #666;
    color:#666;
    font-size:13px;
    border-radius: 0;
    display:inline-block;
    width: auto;
    margin:16px 0
}
[class^="wrap-btn"] .btn-xs{
    height:22px;
    line-height:22px;
    padding:0 12px;
    font-size:12px;
    border-radius:4px;
    font-weight:400;
    color:#222;
}
[class^="wrap-btn"] [class^="btn-"] + [class^="btn-"]{
    margin-left:8px;
}
[class^="wrap-btn"] .btn-xs + .btn-xs{
    margin-left:3px;
}
[class^="wrap-btn"] [class^="btn-"][class*="bg-"]{
    color:#fff;
}
[class^="wrap-btn"] .btn-select{
    height:38px;
    line-height:38px;
    border:var(--line-aa);
    border-radius:4px;
    font-size:15px;
}
[class^="wrap-btn"] .btn-select.on{
    background-color:#222;
    color:#fff;
    border-color:#222;
}
[class^="wrap-btn"] .bg-gray{
    color:#222 !important;
    font-size:15px;
}
.wrap-btn-round{
    display:flex;
}
.wrap-btn-round button + button{
    margin-left:4px;
}
.btn-clear{
    width:14px;    
    height:14px;
    padding:5px;
    border-radius:50%;
    position:absolute;
    right:16px;
    top:50%;
    transform:translateY(-50%);
    background:url(/inc/img/ico-del.svg) no-repeat 0 0;
}
div + .wrap-btn{
    margin-top:24px;
}
[class^="wrap-btn"] .btn-round{
    width:auto;
    font-weight:700;
    font-size:13px;
    padding:0 14px;
    border-radius:30px;
    background-color:#f8f8f8;
}
[class^="wrap-btn"] .btn-round.on{
    color:#fff;
    background-color:#222;
}
[class^="wrap-btn"] .btn-round-line{
    width:auto;
    font-weight:700;
    font-size:13px;
    padding:0 14px;
    border-radius:30px;
    background-color:#fff;
    border:var(--line-aa);
}
.block-tag{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}
.block-tag > .label-text{
    line-height:initial;
    font-weight:400;
}
.block-tag > em{
    line-height:22px;
    font-weight:400;
}

/* tab */
.tabs{
    height:40px;
}
.tabs ul{
    height:100%;
    display:flex;
    border-bottom:var(--line-dd);
    padding:0 16px
}
.tabs ul li{
    width:50%;
}
.tabs ul li.on{
    border-bottom:2px solid #222;
}
.tabs ul li button{
    font-size:15px;
    text-align:center;
    line-height:40px;
    display:block;
    margin:auto;
    color:#888;
}
.tabs ul li.on button{
    font-weight:700;
    color:#222;
}


/* loading */
.loading-container{
    padding:0 16px
}
.loading-list li + li{
    margin-top:24px
}
.loading-list li{
    display:flex;
    align-items:center;
    width:100%;
}
.list-right{
    margin-left:8px;
    width:100%;
    flex:1;
}
[class^="skeleton-"]{
    background-color:#f7f7f7;
}
[class^="skeleton-"] + [class^="skeleton-"]{
    margin-top:10px;
}
.skeleton-total{
    width:20%;
    height:19px;
}
.skeleton-price{
    width:50%;
    height:26px;
}
.skeleton-stock{
    width:45%;
    height:19px;
}
.skeleton-btn{
    width:50%;
    height:54px;
    border-radius:10px;
}
.skeleton-btn + .skeleton-btn{
    margin:0 0 0 8px
}

.skeleton-img{
    width:56px;
    height:56px;
    border-radius:50%;
}
.skeleton-list-top{
    width:65%;
    height:20px;
}
.skeleton-list-bottom{
    width:55%;
    height:14px;   
}
.loader{
    background:#f1f1f1;
    background-image:linear-gradient(90deg, #f1f1f1 0%, #e9e9e9 20%, #e9e9e9 40%, #f1f1f1 100%);
    background-size:800px 100px;
    background-repeat:no-repeat;
    animation:skeletonmove 1s infinite linear forwards;
    position:relative;
}
@keyframes skeletonmove{
    0% {
        background-position:-468px 0;
    }
    100% {
        background-position:468px 0;
    }
}


/* list */
.list-dot li{
    position:relative;
    color:#aaa;
    padding-left:7px;
    font-size:13px;
}
.list-dot li::before{
    content:'';
    width:2px;
    height:2px;
    border-radius:50%;
    display:inline-block;
    background-color:#888;
    position:absolute;
    left:0;
    top:7px;
}
.list-dot li + li{
    margin-top:8px
}
.list-asterisk{
    font-size:12px;
    color: #aaa;
    position:relative;
    padding-left:7px;
}
.list-asterisk::before{
    content:'*';
    display: inline-block;
    position: absolute;
    left: 0;
    top:2px
}

/* form */
.form-group{
    position:relative;
}
.form-group [type="checkbox"]{
    position:absolute;
    opacity:0;
    width:20px;
    height:20px;
}
.form-group [type="checkbox"] + label{
    position:relative;
    cursor:pointer;
    padding:0 0 0 30px;
    display:inline-block;
}
.form-group [type="checkbox"] + label::before{
    content:'';
    width:20px;
    height:20px;
    display:inline-block;
    border:1px solid #ddd;
    border-radius:50%;
    background-color:#fff;
    position: absolute;
    left: 0;
    top:0;
}
.form-group [type="checkbox"]:checked + label::before{
    background-color:#0199e8;
}
.form-group [type="checkbox"]:checked + label::after{
    content:'';
    position:absolute;
    left:5px;
    top:9px;
    background:#fff;
    width:2px;
    height:2px;
    box-shadow:2px 0 0 #fff, 4px 0 0 #fff, 4px -2px 0 #fff, 4px -4px 0 #fff, 4px -6px 0 #fff, 4px -8px 0 #fff;
    transform:rotate(45deg);
}
.form-group.type2 [type="checkbox"] + label::before{
    -webkit-mask:url(/inc/img/ico-check.svg) no-repeat center;
    -webkit-mask-size:15px auto;
    background-color: #ddd;
    border:none;
}
.form-group.type2 [type="checkbox"]:checked + label::before{
    background-color:none;
    background-color: #222;
}
.form-group.type2 [type="checkbox"]:checked + label::after{
    content: none;    
}
.form-group.type-r{
    display: flex;
    justify-content: space-between;
}

.form-group [type="radio"]{
    position:absolute;
    opacity:0;
    width:28px;
    height:28px;
}
.form-group [type="radio"] + label{
    position:relative;
    cursor:pointer;
    padding:0 0 0 38px;
    display:inline-block;
    font-size: 15px;
}
.form-group [type="radio"] + label::before{
    content:'';
    width:28px;
    height:28px;
    display:inline-block;
    border:var(--line-e6);
    border-radius:50%;
    background-color:#fff;
    position: absolute;
    left: 0;
    top:-5px;
}
.form-group [type="radio"] + label::after{
    content: '';
    background-color:#ddd;
    -webkit-mask:url(/inc/img/ico-check.svg) no-repeat center;
    -webkit-mask-size:15px auto;
    position: absolute;
    left: 0;
    top:-5px;
    width: 28px;
    height: 28px;
}
.form-group [type="radio"]:checked + label::before{
    background-color:#000;
    border-color: #000;
}
.form-group [type="radio"]:checked + label::after{
    background-color: #fff;
}
/* 팝업 */
.full-pop{
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:100vh;
    overflow:hidden;
    z-index:100;
    visibility:hidden;
    background-color:#fff;
}
.layer-pop{
    justify-content:center;
    /* background-color:rgb(0,0,0,0.6); */
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:100vh;
    overflow:hidden;
    z-index:100;
    visibility:hidden;
    display:flex;
    transition:opacity 0.3s, visibility 0.3s;
}
.dim{
    background-color:#000;
    width:100%;
    height:100vh;
    position:fixed;
    left:0;
    top:0;
    opacity:0.6;
}
body.hidden{
    overflow:hidden;
}
.full-pop.popup-open,
.layer-pop.popup-open{
    visibility:visible;
}
.slide-content{
    width:100%;
    position:fixed;    
    background-color:#fff;
    border-radius:30px 30px 0 0;
    padding:32px 16px 30px;
    bottom:-100%;
    transition:bottom 0.3s;
    z-index:10;
}
.popup-open .slide-content{
    bottom:0;    
}
.modal-content{
    width:calc(100% - 70px);
    min-height:196px;
    margin:auto 35px;    
    background-color:#fff;
    border-radius:16px;
    padding:40px 16px 16px;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    z-index:10;
}
#toast-popup{
    position:sticky;
    bottom:30px;
    z-index:100;
    width:100%;
}
#toast-popup [class~="toast"]{
    margin:16px;
    display:flex;
    background-color:#222;
    opacity:0.8;
    border-radius:8px;
    padding:20px 24px;
    position:relative;
    justify-content:space-between;
    align-items:center;
}
.toast-info{
    text-align:center;
    padding:16px 24px
}
.toast-close{
    text-align:left;
}
#toast-popup .toast-top{
    position:fixed;
    top:50px;
    width:calc(100% - 32px);
}
#toast-popup .toast-top .toast-body{
    width:100%;
    text-align:center;
}

.toast-body .toast-title{
    font-size:15px;
    color:#fff;
    display:flex;
    font-weight:400;
}
.toast-body .toast-msg{
    font-size:15px;
    color:#fff;
}
#toast-popup .normal{
    margin-left:4px;
}
#toast-popup .close-btn{
    display:flex;
}
#toast-popup .close-btn .btn-close-pop{
    width:20px;
    height:20px;
    background:#fff;
    -webkit-mask:url(/inc/img/ico-close.svg) no-repeat center;
    -webkit-mask-size:10px 10px;
    display:block;
    margin:auto;    
}
#toast-popup .close-btn .btn-move-pop{
    width:20px;
    height:20px;
    background:#fff;
    -webkit-mask:url(/inc/img/arrow-right.svg) no-repeat center;
    -webkit-mask-size:10px 10px;
    display:block;
    margin:auto;    
}
#toast-popup .close-btn .btn-close-txt,
#toast-popup .link-btn .btn-text-link{
    color:#fff; 
}
@keyframes slideInBottom{
    from{
        opacity:0;
        transform:translateY(calc(100% + 30px));
    }
    to {
        opacity:1;
        transform:translateY(0);
    }
}
@keyframes fadeOut{
    to {
        opacity:0;
    }
}
.pop-info-txt{
    text-align:center;
    font-size:17px;
    
}
.pop-info-txt .stock-name{
    font-size:inherit;
}
.slide-content .pop-info-txt{
    font-weight:700;
    font-size:20px;
}
.slide-content .stock-name{
    font-size:20px;
    margin-top:8px;
}
.pop-content .trade-info-txt{
    margin:40px 18px 50px;
}
.pop-content .trade-info-txt dl{
    display:flex;
    align-items:center;
    justify-content:space-between;
}
.pop-content .trade-info-txt dl + dl{
    margin-top:8px;
}
.pop-content .trade-info-txt .line-top{
    border-top:var(--line-e6);
    margin-top:16px;
    padding-top:16px;
}
.pop-content .trade-info-txt dt{
    color:#888;
    font-size:15px;
}
.pop-content .trade-info-txt dd{
    font-size:15px;
}



/* message */
.no-result{
    text-align:center;
    height:calc(100vh - 132px);
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}
.no-result::before{
    content:'';
    width:32px;
    height:32px;
    border-radius:50%;
    background:#f7f7f7 url(/inc/img/ico-mark.svg) no-repeat center;
    background-size:3px 13px;
    display:block;
     
    z-index:10;
}
.no-result p{
    margin-top:8px;
    font-size:13px;
    color:#666;
}
.section-inner .no-result{
    height:initial;
    padding:50px 0;
}